.usage-gallery {
  position: relative;
  overflow: hidden;
  background-color: $color-dirty-blue-bg;

  &::before {
    position: absolute;
    content: "";
    top: calc(49% - 1137px / 2);
    left: calc(50.5% - 1143px / 2);

    width: 1137px;
    height: 1143px;

    background-color: $color-light-bg;
    background-image: url("/img/bg/logo-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 637px 655px;

    @include retina {
      background-image: url("/img/bg/logo-bg@2x.png");
    }
    border-radius: 50%;
  }

  @media (max-width: $viewport--lg) {
    padding: 0 80px 55px;

    &::before {
      top: calc(65.4% - 576px / 2);
      left: calc(50.5% - 576px / 2);

      width: 576px;
      height: 576px;

      background-position: center 25px;
      background-size: 194px 199px;
    }
  }

  &__inner {
    max-width: 938px;
    margin: 0 auto;
    padding-top: 52px;

    @media (max-width: $viewport--lg) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-top: 57px;
    }
  }

  & h2 {
    position: relative;
    display: grid;
    padding-left: 20px;

    color: $color-deep-blue;
    font-size: 40px;
    line-height: 56px;
    text-align: center;
    letter-spacing: 0;

    @media (max-width: $viewport--md) {
      max-width: 318px;
      padding: 0;

      font-size: 32px;
      line-height: 40px;
    }
  }

  & span {
    color: $color-red;
  }

  & ul {
    display: flex;
    flex-wrap: wrap;
    padding: 6px 4.2%;
    list-style: none;

    @media (max-width: $viewport--lg) {
      position: relative;
      padding: 0;
      margin: 0;
      flex-wrap: unset;
      width: 160px;
    }
  }

  & li.swiper-slide {
    position: relative;
    width: 162px;
    height: 152px;
    margin: 0 6.8% 104px;

    color: $color-black;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;

    & img {
      width: 152px;
      height: 152px;

      overflow: hidden;
      border: 4px solid $color-red;
      border-radius: 50%;

      background-color: $color-gray;
      object-fit: cover;
    }

    @media (max-width: $viewport--lg) {
      margin: 0;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;

      & img {
        width: 156px;
        height: 156px;
      }
    }
  }

  &__center-image {
    margin: -54px 10.5% 0;

    @media (max-width: $viewport--lg) {
      display: none;
    }
  }

  &__center-image-mobile {
    display: none;

    @media (max-width: $viewport--lg) {
      position: relative;
      display: flex;
      justify-content: center;
      padding-top: 45px;

      & img {
        object-fit: contain;
      }
    }
  }

  & .swiper-slide span {
    color: $color-black;
    max-width: 176px;
  }

  &__slider {
    @media (max-width: $viewport--lg) {
      position: relative;
      margin-top: 31px;
      width: 100%;
    }
  }
}

.js-carousel-navigation-mod-pagination {
  display: none;

  @media (max-width: $viewport--lg) {
    display: flex;
    justify-content: center;
    margin-top: 24px;

    .swiper-pagination-bullet {
      width: 8px;
      height: 8px;
      margin: 0 10px !important;

      background: $color-gray;
      outline: none;
      opacity: 1;

      transition: box-shadow $transition-settings;

      &:hover,
      &:focus {
        box-shadow: 0 0 5px $color-brown;
        opacity: 1;
      }

      &-active {
        background: $color-dark-red;
        opacity: 1;
      }
    }
  }
}
