-
  var nameInput = {
    className: 'some-class',
    label: 'Ваше имя',
    name: 'name',
    placeholder: 'Имя'
  }
-
  var phone = {
    className: 'some-class',
    label: 'Ваш телефон',
    name: 'phone',
    placeholder: 'Номер телефона',
    minLength: 6,
  }
-
  var selectCountry = {
    className: 'some-class',
    label: 'Страна',
    name: 'country',
    id: 'country',
    value: '',
    list: ["Австрия", "Азербайджан", "Белоруссия", "Болгария", "Германия", "Испания", "Испания", "Казахстан", "Литва", "Польша", "Россия", "Сербия", "Узбекистан", "Эстония"]
  }
