mixin count-down-clock(data)
  .count-down-clock
    h2 Успей до конца акции
    .count-down-clock__clockdiv
      div
        span.count-down-clock__hours
        .count-down-clock__smalltext Часов
      div
        span.count-down-clock__minutes
        .count-down-clock__smalltext Минут
      div
        span.count-down-clock__seconds
        .count-down-clock__smalltext Секунд
